body {
  margin: 0px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overall-container {
  background-color: white;
  margin: 100px;
  width: 300px;
  height: 430px;
  padding: 25px;
}

.signup-input {
  width: 275px;
  padding: 2px;
  border-radius: 3px;
  color: black;
  height: 25px;
  font-size: medium;
  padding-left: 6px;

}

.title {
  text-align: center;
}

.signup-button {
  color: white;
  background-color: blue;
  border-radius: 5px;
  width: 75px;
  font-size: medium;
  margin-top: 5px;
  height: 30;
}
.error-color{
  color: red;
  margin: 0;

}
.label{
  display: block;
    font-weight: 600;
}
.signup-container{
  text-align: center;
    margin-top: 3px;
}
.link{
  text-decoration: none;
    color: blue;
}
.link-container{
  margin: 0;
}
.overall-additional-container {
  background-color: white;
  margin: 100px;
  width: 275px;
  height: 490px;
  padding: 25px;
}
.login-button{
  width: 100px;
  border-radius: 3px;
  color: white;
  height: 30px;
  font-size: medium;
  background-color: blue;
  margin-top: 10px;
}
.logout{
  width: 100px;
  border-radius: 3px;
  color: black;
  height: 30px;
  font-size: medium;
  background-color: lightgray;
  margin-top: 10px;
}